<button (click)="openGame()"[hidden]="!isShow" class="margin clr">playNow</button>

<div class="margin" [hidden]="hideGameLayout()">
  <div class="row">
    <div>
      <button (click)="changeValue(0, 0)"class="width" [disabled]="disableMatrix[0][0]">{{matrix[0][0]}}</button>
    </div>
    <div>
      <button (click)="changeValue(0, 1)"class="width" [disabled]="disableMatrix[0][1]">{{matrix[0][1]}}</button>
    </div>
    <div>
      <button (click)="changeValue(0, 2)"class="width" [disabled]="disableMatrix[0][2]">{{matrix[0][2]}}</button>
    </div>
  </div>
  <div class="row">
    <div>
     <button (click)="changeValue(1, 0)"class="width" [disabled]="disableMatrix[1][0]">{{matrix[1][0]}}</button>
    </div>
    <div>
     <button (click)="changeValue(1, 1)"class="width" [disabled]="disableMatrix[1][1]">{{matrix[1][1]}}</button>
    </div>
    <div>
     <button (click)="changeValue(1, 2)"class="width" [disabled]="disableMatrix[1][2]">{{matrix[1][2]}}</button>
    </div>
  </div>
  <div class="row">
    <div>
     <button (click)="changeValue(2, 0)"class="width" [disabled]="disableMatrix[2][0]">{{matrix[2][0]}}</button>
    </div>
    <div>
     <button (click)="changeValue(2, 1)"class="width" [disabled]="disableMatrix[2][1]">{{matrix[2][1]}}</button>
    </div>
    <div>
     <button (click)="changeValue(2, 2)"class="width" [disabled]="disableMatrix[2][2]">{{matrix[2][2]}}</button>
    </div>
  </div>
</div>
<div class="winner"[hidden]="!winner1">
  <h5>GAME OVER</h5>
  <p>The winner is " 0 "</p>
</div>
<div class="winner"[hidden]="!winner2">
  <h5>GAME OVER</h5>
  <p>The winner is " X "</p>
</div>
   
